body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #333;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    gap: 10px;
}


.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    padding-top: 60px; /* Adjust padding to not overlap with the top bar */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background: none;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

button:hover {
    opacity: 0.8;
}


.drink-name {
    font-size: 16px;
    font-weight: bold;
}

.drink-price {
    font-size: 12px;
    color: whitesmoke;
}

.total-due {
    margin: 20px;
    font-size: 20px;
    color: #FFD700; /* Gold color for emphasis */
}

#resetAllTabs {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FF6347; /* Tomato color for visibility */
    color: white;
    border: none;
    cursor: pointer;
}



/* Color classes for dynamic application */
.color-1 { background-color: #FF6347; } /* Tomato */
.color-2 { background-color: #4682B4; } /* SteelBlue */
.color-3 { background-color: #32CD32; } /* LimeGreen */
.color-4 { background-color: #FFD700; } /* Gold */
.color-5 { background-color: #6A5ACD; } /* SlateBlue */
.color-6 { background-color: #FF4500; } /* OrangeRed */
.color-7 { background-color: #9ACD32; } /* YellowGreen */
.color-8 { background-color: #40E0D0; } /* Turquoise */
.color-9 { background-color: #EE82EE; } /* Violet */
.color-10 { background-color: #DA70D6; } /* Orchid */
.color-11 { background-color: #00CED1; } /* DarkTurquoise */
.color-12 { background-color: #C71585; } /* MediumVioletRed */
.color-13 { background-color: #FFB6C1; } /* LightPink */
.color-14 { background-color: #BC8F8F; } /* RosyBrown */
.color-15 { background-color: #F08080; } /* LightCoral */
.color-16 { background-color: #D2B48C; } /* Tan */
.color-17 { background-color: #008080; } /* Teal */
.color-18 { background-color: #FF6347; } /* Repeated Tomato */
.color-19 { background-color: #40E0D0; } /* Repeated Turquoise */
.color-20 { background-color: #EE82EE; } /* Repeated Violet */
